<!DOCTYPE html>
<html>
  <head>
    <title>ProjectName</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
	<h1>Welcome</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit odio error hic quam magnam ea perspiciatis unde consectetur incidunt repudiandae dolore, inventore provident. Quibusdam dolorum nemo numquam voluptatibus, dolore, dignissimos!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptatem, quibusdam praesentium sint iste ex eveniet ratione similique est, obcaecati aliquam quia quo impedit dolores vitae sed soluta expedita aspernatur?</p>

  </body>
</html>
